Source: folding-atomata
Section: science
Priority: optional
Maintainer: Jesse Victors <jvictors@jessevictors.com>
Build-Depends: debhelper (>= 8.0.0), cmake, libglew-dev, freeglut3-dev, build-essential
Standards-Version: 3.9.3
Homepage: https://github.com/Jesse-V/Folding-Atomata
Bugs: https://github.com/Jesse-V/Folding-Atomata/issues
Vcs-Git: git@github.com:Jesse-V/Folding-Atomata.git

Package: folding-atomata
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Third-party 3D simulation viewer for Folding@home
 Folding@home is a distributed computing project that uses
 volunteered computer resources for disease research.
 This package contains Folding Atomata, a 3D simulation viewer.
 It connects to the local FAHClient instance to visualize the
 running simulations.
